<?xml version="1.0" encoding="utf-8"?>
<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<RunSettings xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <TestRunParameters>
    <Parameter name="Browser" value="chrome" />
    <Parameter name="commonsAppUrl" value="https://commons.qa1.ncu.edu" xdt:Transform="Replace" xdt:Locator="Match(name)" />
    <Parameter name="appUserName" value="A.Abiodun9916@o365.qa.ncu.edu" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    <!--Parameter name="SSOUserName" value="A.Abiodun9916@o365.qa.ncu.edu""/-->
    <Parameter name="appPassword" value="Guest2011" xdt:Transform="Replace" xdt:Locator="Match(name)" />
    <Parameter name="Environment" value="QA" xdt:Transform="Replace" xdt:Locator="Match(name)" />
    <Parameter name="ErrorLogFilePath" value="\ErrorLog\" />
    <Parameter name="ReportPath" value="\Reports\" />
    <Parameter name="UploadPath" value="\UploadFile\sample.pdf" />
    <Parameter name="ncuqadb" value="Data Source=lvqasql00ls;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
    <Parameter name="OutLookMentorBetaWebMail" value="https://outlook.office.com/mail/MentorBeta@ncu.edu/"/>
    <Parameter name="SystemUserName" value="mpal"/>
    <Parameter name="OutLookServiceAcnt" value="qaautomation_svc@nu.edu"/>
    <Parameter name="OutLookServiceAcntPassword" value="?EWNq'Z38'#WZE3N+t5b%juSD3m=U0(\"/>
    <Parameter name="ArchivedAlumniStudent" value="Sonya Reed"/>
  </TestRunParameters>    
</RunSettings>