<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
  <TestRunParameters>
    <Parameter name="Browser" value="chrome" />
    <Parameter name="commonsAppUrl" value="https://commons.qa1.ncu.edu" />
    <Parameter name="appUserName" value="A.Abiodun9916@o365.qa.ncu.edu" />
    <Parameter name="appPassword" value="Guest2011" />
    <Parameter name="Environment" value="QA" />
    <Parameter name="ErrorLogFilePath" value="\ErrorLog\" />
    <Parameter name="ReportPath" value="\Reports\" />  
    <Parameter name="ncuqadb" value="Data Source=lvqasql00ls;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
    <Parameter name="outLookWebMail" value="https://m.ncu.edu/owa/?ae=Folder&amp;t=IPF.Note&amp;id=PSF.LgAAAAAaRHOQqmYRzZvIAKoAL8RaAwB%2bhWG6%2fYwPSa5dKdYt%2fE3oAAAAHrtGAAAB&amp;pspid=_1552903283859_382535438" />
    <Parameter name="SystemUserName" value="mpal"/>
    <Parameter name="o365UserName" value="mpal@ncu.edu"/>
    <Parameter name="SystemPassword" value="Wasd!1234567"/>
  </TestRunParameters>  
</RunSettings>